<div class="card" itemscope itemtype="http://schema.org/Product">
    <article class="product-{{product.id}} {{product.handle}}" data-url="{{ product.url | within: collection }}" data-variant-count="{{product.variants.size }}">
        <div class="image-wrap">
            <img class="bg lazyload" src="{{disc}}" />
            <div class="image" data-fix-height="true">
                <a href="{{ product.url }}" title="{{ product.title }}">
                    <img class="lazyload" src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title }}" />
                </a>
            </div>
        </div>
        <div class="details">
            <h2>
                <a href="{{ product.url }}" title="{{ product.title }}" itemprop="url">
                    <span class="name" itemprop="name">{{ product.title }}</span>
                </a>
            </h2>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <a href="{{product.url}}">
                    {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
                        <div style="display:none;" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <span itemprop="itemReviewed">{{ product.title }}</span>
                            has a rating of 
                            <span itemprop="ratingValue">{{ product.metafields.yotpo.reviews_average }}</span> 
                            stars.
                            <div style="display:none">
                                <span itemprop="ratingCount">{{ product.metafields.yotpo.reviews_count }}</span>
                            </div>
                        </div>
                        <div style="width:188px;height: 18px;" class="yotpo bottomLine" 
                            data-appkey="axqeDm0H90oHPEJk3VP1UM8p4cucD4NUxckzJBxL"
                            data-domain="{{ shop.permanent_domain | escape }}"
                            data-product-id="{{ product.id }}"
                            data-product-models="{{ product.id }}"
                            data-name="{{ product.title | escape }}"
                            data-url="{{ page.url }}"
                            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                            data-description="{{ product.description | escape }}"
                            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
                        </div> 
                    {% endif %}
                </a>
                <div class="actions">
                    {% if product.available %}
                        {% form "product", product, id: product.first_available_variant.id %}
                            <p class="var_title">{{ product.first_available_variant.title }}</p>
                            <p class="price">{{ product.first_available_variant.price | money }}</p>    
                            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" />
                            <button class="add-to-cart" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.42893 0.139526C3.33286 0.139526 0 3.39488 0 7.39569C0 11.3965 3.33286 14.6519 7.42893 14.6519C11.525 14.6519 14.8579 11.3965 14.8579 7.39569C14.8579 3.39488 11.525 0.139526 7.42893 0.139526ZM7.42893 14.093C3.64821 14.093 0.572143 11.0885 0.572143 7.39569C0.572143 3.7029 3.64821 0.698364 7.42893 0.698364C11.2096 0.698364 14.2857 3.7029 14.2857 7.39569C14.2857 11.0885 11.2096 14.093 7.42893 14.093Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9291 4.41979L6.5373 9.24491L3.89194 7.1777C3.76944 7.08072 3.58944 7.10131 3.49016 7.22131C3.39266 7.34131 3.4123 7.51677 3.5348 7.61375L6.39194 9.84561C6.44516 9.88642 6.50801 9.907 6.57051 9.907C6.65016 9.907 6.72837 9.87561 6.78551 9.81282L11.3559 4.79026C11.4619 4.67445 11.4505 4.49863 11.3319 4.39642C11.2148 4.29282 11.0337 4.30398 10.9291 4.41979Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.42893 0.139526C3.33286 0.139526 0 3.39488 0 7.39569C0 11.3965 3.33286 14.6519 7.42893 14.6519C11.525 14.6519 14.8579 11.3965 14.8579 7.39569C14.8579 3.39488 11.525 0.139526 7.42893 0.139526ZM7.42893 14.093C3.64821 14.093 0.572143 11.0885 0.572143 7.39569C0.572143 3.7029 3.64821 0.698364 7.42893 0.698364C11.2096 0.698364 14.2857 3.7029 14.2857 7.39569C14.2857 11.0885 11.2096 14.093 7.42893 14.093Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9291 4.41979L6.5373 9.24491L3.89194 7.1777C3.76944 7.08072 3.58944 7.10131 3.49016 7.22131C3.39266 7.34131 3.4123 7.51677 3.5348 7.61375L6.39194 9.84561C6.44516 9.88642 6.50801 9.907 6.57051 9.907C6.65016 9.907 6.72837 9.87561 6.78551 9.81282L11.3559 4.79026C11.4619 4.67445 11.4505 4.49863 11.3319 4.39642C11.2148 4.29282 11.0337 4.30398 10.9291 4.41979Z" fill="white"/>
                                </svg>
                                <p>Add to Cart</p>
                                <p class="added">Added</p>
                            </button>
                        {% endform %}
                    {% else %}
                        <a href="#" class="button small disabled">Sold Out</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</div>