<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#c0df3a">
  <link rel="canonical" href="{{ canonical_url }}">
  <title>Password</title>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body>

    
    <div style="    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    background: #c0df3a;">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <h2 class="password__form-heading h4" id="password-modal-heading">{{ 'general.password_page.login_form_heading' | t }}</h2>
          {% form 'storefront_password' %}
            {%- if form.errors -%}
              <div class="password-form-message form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}
            <label for="Password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group password__input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </span>
            </div>
          {% endform %}
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>

  </div>

    <div class="password-main text-center" style="display: none;" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
</body>
</html>
