<div class="ben2">
	<section class="s_1">
		<div class="wrap">
			<h1>7 Benefits of Using Body Scrub</h1>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_eczema.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_eczema.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_eczema.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Eczema</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_scars.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_scars.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_scars.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Scars</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_acne.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_acne.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_acne.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Acne</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_blackheads.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_blackheads.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_blackheads.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Blackheads</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_darkspots.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_darkspots.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_darkspots.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Dark Spots</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_deadskin.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_deadskin.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_deadskin.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Dead Skin</h5>
			</div>
			<div class="box">
				<picture>
					<source data-srcset="{{ 'icn_exf.webp' | asset_url }}" type="image/webp">
					<source data-srcset="{{ 'icn_exf.png' | asset_img_url: 'master' }}" type="image/png">
					<img class="lazyload" data-src="{{ 'icn_exf.png' | asset_img_url: 'master' }}" alt="">
				</picture>
				<h5>Exfoliating</h5>
			</div>
		</div>
	</section>
	<section class="s_2">
		<div class="wrap">
			<div class="block">
				<h2>Eczema</h2>
				<p>
					What causes eczema? There is no single known origin, but the medical community believes that it <a href="/">may be
						related to
						the body’s immune system</a> and an overactive response to irritants. Families with a history of asthma or
					allergies
					may be more prone to eczema. The itchiness of eczema can be “triggered” by allergens or household products that
					contain harsh chemicals. That’s why it is critical, when searching for a topical treatment, to choose a product
					that is gentle, nourishing and free of any substance that can irritate sensitive skin.
				</p>
			</div>
			<h6>Our natural scrubs contain organic ingredients that are soothing and healing for the ultra-sensitive skin of
				eczema sufferers. These are perfectly balanced formulas that rid the skin’s surface of dead cells while providing
				essential nourishment for healthy skin regeneration. </h6>
			<div class="cols">
				<div class="left">
					<picture>
						<source data-srcset="{{ 'Product-soursop.webp' | asset_url }}" type="image/webp">
						<source data-srcset="{{ 'Product-soursop.png' | asset_img_url: 'master' }}" type="image/png">
						<img class="lazyload" data-src="{{ 'Product-soursop.png' | asset_img_url: 'master' }}" alt="">
					</picture>
					<p>In our organic Soursop Body Scrub, the main ingredient is a vitamin-rich substance taken from Soursop leaves.
						Vitamin A nourishes the skin by normalizing blood flow. It also repairs cell structure and increases hydration.
						Vitamin B aids in moisture retention, while vitamin C, an antioxidant, plays a vital role in collagen production.
						Along with brown sugar exfoliant, our Soursop scrub also features dead sea mineral salt. In addition to gently
						exfoliating the skin, it melts slightly upon application, releasing important minerals into the skin for improved
						elasticity and firmness. Mint cools and calms the skin, while green tea is a potent antioxidant.</p>
				</div>
				<div class="right">
					<picture>
						<source data-srcset="{{ 'Product-rose.webp' | asset_url }}" type="image/webp">
						<source data-srcset="{{ 'Product-rose.png' | asset_img_url: 'master' }}" type="image/png">
						<img class="lazyload" data-src="{{ 'Product-rose.png' | asset_img_url: 'master' }}" alt="">
					</picture>
					<p>The wondrous therapeutic properties of rose petals are the star attraction of our organic Rose Body Scrub. Rose
						petals help to clean and tone skin, while also moisturizing and providing oil control. It’s a natural antioxidant
						that blocks skin irritants, free radicals, germs and excess sebum, an oily gland secretion. Brown sugar, in
						addition to gently exfoliating the skin, also moisturizes. It deeply penetrates to loosen bonds of dead skin
						cells while promoting healthy new skin growth. As with our Soursop scrub, a variety of natural oils, shea butter
						and vitamin E are added for moisturizing, protecting, and supporting healthy skin regeneration.</p>
				</div>
			</div>
		</div>
	</section>
</div>